<article class="" style="position:relative ;margin-top: 50px;
margin-bottom: 50px;">
  <div id="background_article" class="background-article"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-push-9" style="margin-top: -34px">
        <div class="row khoi_phai">
          <nav class="navbar navbar-collapse navbar-default">
            <div class="navbar-header pull-right">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
                aria-expanded="true" aria-controls="navbar">

              </button>
            </div>
            <div class="clearfix visible-xs"></div>

            <div id="navbar1" class="collapse navbar-collapse navbar-default navbar-right collapse show">
              <div class="list-group chu_de">
                <div class="container-fluid text-center top_chude"
                    style="background-color: rgb(255, 138, 21);">
                    <p class="ten_top_sidebar" style="color: rgb(202, 0, 0);">Văn bản hành chính</p>
                </div><div class="" *ngFor="let lcd of loaichude">
                    <a [routerLink]="['/congvan']" class="list-group-item"
                      style="background-color: rgb(255, 255, 255);">{{lcd.tenchude}}</a>
                    </div>
            </div>
            <div class="list-group chu_de">
                <div class="container-fluid text-center top_chude"
                    style="background-color: rgb(255, 138, 21);">
                    <p class="ten_top_sidebar" style="color: rgb(202, 0, 0);">Chia sẻ - trao đổi</p>
                </div><a href="index.php?chucnang=view_baigiangdientu" class="list-group-item"
                    style="background-color: rgb(255, 255, 255);">Bài giảng điện tử</a>
                <a [routerLink]="['/kinhnghiem']" class="list-group-item"
                    style="background-color: rgb(255, 255, 255);">Trao đổi kinh nghiệm</a>
                <a href="index.php?chucnang=view_traodoitructuyen" class="list-group-item"
                    style="background-color: rgb(255, 255, 255);">Trao đổi trực tuyên</a>
            </div>
            <div class="list-group chu_de">
                <div class="container-fluid text-center top_chude"
                    style="background-color: rgb(255, 138, 21);">
                    <p class="ten_top_sidebar" style="color: rgb(202, 0, 0);">Nhà trường - phụ huynh</p>
                </div><a [routerLink]="['/thucdon']" class="list-group-item"
                    style="background-color: rgb(255, 255, 255);">Thực đơn của bé</a>

                <a [routerLink]="['/tkb']" class="list-group-item"
                    style="background-color: rgb(255, 255, 255);">Thời khóa biểu học sinh</a>
                    <a [routerLink]="['/thuvienanh']" class="list-group-item"
                    style="background-color: rgb(255, 255, 255);">Thư viện ảnh</a>
            </div>




            </div>
          </nav>
        </div>

      </div>
      <div class="col-sm-9 col-md-pull-3">
        <script>
          function caret(value) {
            if ($('#span_caret_' + value).hasClass('glyphicon-triangle-top')) {
              $('#span_caret_' + value).removeClass('glyphicon-triangle-top');
              $('#span_caret_' + value).addClass('glyphicon-triangle-bottom');
              // alert(1);
            } else {
              $('#span_caret_' + value).removeClass('glyphicon-triangle-bottom');
              $('#span_caret_' + value).addClass('glyphicon-triangle-top');
              // alert(2);
            }
          }
        </script>

        <div class="chu_de">
          <div class="top_chude container-fluid text-left" id="vitri_hienthi"
            style="background-color: rgb(255, 138, 21); height: 43px;">
            <a class="ten_chu_de" href="javascript:void();" style="color: rgb(128, 0, 64);">Thực đơn nhà
              trường</a>
          </div>
          <div class="" style="padding-left: 20px;
                    /* margin-left: 5px; */
                    background-color: rgb(255, 255, 166);
                    padding-top: 10px;" *ngFor="let td of thucdon">
            <form enctype="multipart/form-data" action="" method="POST">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <select size="1" name="tuan" onchange="form.submit()">
                    <option value="1">{{td.tieude}}</option>
                    <!-- <option value="2">Tuần 2</option>
                    <option value="3">Tuần 3</option>
                    <option value="4">Tuần 4</option>
                    <option value="5">Tuần 5</option>                   -->
                  </select>
                  <select name="nam_batdau" onchange="form.submit()">                                       
                    <option value="2015">2015-2016</option>
                    <option value="2016">2016-2017</option>
                    <option value="2017">2017-2018</option>
                    <option value="2018">2018-2019</option>
                    <option value="2019">2019-2020</option>
                    <option value="2020" selected="">2020-2021</option>
                  </select>
                </div>
                <div class="col-xs-12 col-sm-8">
                  Từ 02/11/2020 đến 08/11/2020
                </div>
              </div>
            </form>
            <div class="" >
              <div class="bai_viet_1">
                <a>
                  <img class="anh_title" src="{{td.hinhanh}}" alt="" title="" style="height: 500px; width: 800px;">
                  <h4 class="tieu_de_bai_viet padding-top" style="margin: 0;
                                    padding: 0;
                                    font-size: 14px;
                                    font-weight: bold;"><small></small></h4>

                </a>
                <div class="tomtat_baiviet"></div>
              </div>

            </div>
           
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--/.container-->
</article>